<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
      <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
      <h1>Your list has been <em>purged!</em></h1>
      <p><a href="/">Back to list.</a></p>
    </div>
      <div class="col-md-7">
    <img src="~/img/gif1.gif" alt="">
</div>
</div>
</div>
</body>
