<h1>Address Book</h1>
<table style="width:auto">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Number</th>
  </tr>
  @foreach(var contact in Model)
  {
  <tr>
    <td>@contact.GetName()</td>
    <td>@contact.GetAddress()</td>
    <td>@contact.GetEmail()</td>
    <td>@contact.GetNumber()</td>
  </tr>
  }
</table>
<p><a href="/contact/new">Add another item</a></p>
<form action="/contact/delete" method="post">
  <button type="submit" name="button">Clear All Contacts</button>
</form>
