h1 {
  color:red;
}

body {
  background-color: #4DC6E2;
  padding-top: 80px;
  margin: auto 0px
  /* #6AD4EB */
}

table {
  table-layout: fixed;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 15px;
}

tr:hover {
  background-color: #6AD4EB;
  /* #4DC6E2 */
}


/* .col-centered{
    float: none;
    margin: 0 auto;
} */

img {
  width: 90%;
  height: auto;
}


.sturdy td:nth-child(1) {
  width: 55%;
  word-wrap: break-word;
  /* Fits word content into each cell of column */
}
.sturdy td:nth-child(2) {
  width: 50%;
  word-wrap: break-word;
}

.sturdy td:nth-child(3) {
  width: 50%;
  word-wrap: break-word;
}

.sturdy td:nth-child(4) {
  width: 50%;
  word-wrap: break-word;
}
